<div class="code" id="code1"><p>swapped = true</p></div>
<div class="code" id="code2"><p>while swapped:</p></div>
<div class="code" id="code3" style="padding-left: 2em"><p>swapped = false</p></div>
<div class="code" id="code4" style="padding-left: 2em"><p>for elements from 0 to lastUnsortedElement:</p></div>
<div class="code" id="code5" style="padding-left: 4em"><p>if leftElement > rightElement:</p></div>
<div class="code" id="code6" style="padding-left: 6em"><p>swap leftElement and rightElement</p></div>
<div class="code" id="code7" style="padding-left: 6em"><p>swapped = true</p></div>
