<p class="status hide" id="slowMode">Slow down sorting animation to see taken actions</p>
<p class="status hide" id="status1">Set swapped flag to true and run loop</p>
<p class="status hide" id="status2">Set swapped flag to false and iterate from elements 1 to <span class="arrayLength">last unsorted</span></p>
<p class="status hide" id="status3">Compare elements <span class="bar1">[bar1]</span> and <span class="bar2">[bar2]</span></p>
<p class="status hide" id="status4">Swap elements <span class="bar1">[bar1]</span> and <span class="bar2">[bar2]</span> and set swapped flag to true</p>
