<div class="code" id="code1"><p>mark first element as sorted</p></div>
<div class="code" id="code2"><p>for each unsorted element i:</p></div>
<div class="code" id="code3"><p>select i</p></div>
<div class="code" id="code4" style="padding-left: 2em"><p>for j = lastSortedIndex to index 0: </p></div>
<div class="code" id="code5" style="padding-left: 4em"><p>if leftElement j > rightElement i</p></div>
<div class="code" id="code6" style="padding-left: 6em"><p>swap elements moving i to the left</p></div>
<div class="code" id="code7" style="padding-left: 4em"><p>else</p></div>
<div class="code" id="code8" style="padding-left: 6em"><p>break loop</p></div>
