<p class="status hide" id="slowMode">Slow down sorting animation to see taken actions</p>
<p class="status hide" id="status1">Mark first element as sorted</p>
<p class="status hide" id="status2">Iterate over unsorted elements, select element at index <span class="bar1">[bar1]</span></p>
<p class="status hide" id="status3">Select last sorted index at index <span class="bar1">[bar1]</span> and iterate to index 0</p>
<p class="status hide" id="status4">Compare elements at index <span class="bar1">[bar1]</span> and index <span class="bar2">[bar2]</span></p>
<p class="status hide" id="status5">Swap elements <span class="bar1">[bar1]</span> and <span class="bar2">[bar2]</span></p>
<p class="status hide" id="status6">No swap needed, break the loop</p>
