<p class="status hide" id="slowMode">Slow down sorting animation to see taken actions</p>
<p class="status hide" id="status1">Split array into partitions of size 1 by recursively diving by 2</p>
<p class="status hide" id="status2">Iterate across all partitions, merging adjacent ones</p>
<p class="status hide" id="status3">Compare left partition element at position <span class="bar2">[bar2]</span> and right partition element at position <span class="bar1">[bar1]</span></p>
<p class="status hide" id="status4">Push left partition element at position <span class="bar1">[bar1]</span> to a temporary array</p>
<p class="status hide" id="status5">Push right partition element at position <span class="bar1">[bar1]</span> to a temporary array</p>
<p class="status hide" id="status6">Right partition has been sorted, so push left partition element at position <span class="bar1">[bar1]</span> to a temporary array</p>
<p class="status hide" id="status7">Left partition has benn sorted, so push right partition element at position <span class="bar1">[bar1]</span> to a temporary array</p>
<p class="status hide" id="status8">Select partition and check if it is unordered</p>
<p class="status hide" id="status9">Replace the main array with the temporary one created from sorting the partitions</p>
