<p class="status hide" id="slowMode">Slow down sorting animation to see taken actions</p>
<p class="status hide" id="status1">For each unsorted partition select a median pivot from first, last and middle element, result = element at index <span class="bar1">[bar1]</span></p>
<p class="status hide" id="status2">Move pivot at index <span class="bar1">[bar1]</span> to last index position</span></p>
<p class="status hide" id="status3">Compare element at index <span class="bar2">[bar1]</span> and pivot element at index <span class="bar1">[bar2]</span></p>
<p class="status hide" id="status4">Check if right partition is not empty</p>
<p class="status hide" id="status5">Swap element at index <span class="bar2">[bar1]</span> and element at index <span class="bar1">[bar2]</span></p>
<p class="status hide" id="status6">Mark element at index <span class="bar1">[bar1]</span> as right partition</p>
<p class="status hide" id="status7">Swap pivot element at index <span class="bar1">[bar1]</span> to inbetween partitions at index <span class="bar2">[bar2]</span></p>

