<p class="status hide" id="slowMode">Slow down sorting animation to see taken actions</p>
<p class="status hide" id="status1">Iterate over elements</p>
<p class="status hide" id="status2">Set first unsorted element at position <span class="bar1">[bar1]</span> to minimum and iterate from first unsorted to last unsorted</span></p>
<p class="status hide" id="status3">Compare current minimum element <span class="bar1">[bar1]</span> and element <span class="bar2">[bar2]</span></p>
<p class="status hide" id="status4">Set new minimum element at position <span class="bar1">[bar1]</span></p>
<p class="status hide" id="status5">Swap minimum element <span class="bar2">[bar2]</span> to first unsorted position <span class="bar1">[bar1]</span></p>
